@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
.parent {
    justify-content: space-evenly;
}


#calculator {
    margin-top: 5%;
    float: right;
    width: 30%;
    height: 69vh;
}
.child{
    display: inline-block;
    width:70%
}
body{
    background-color: black;
}
.developers{
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: darkred;
}