.parent {
    justify-content: space-evenly;
}


#calculator {
    margin-top: 5%;
    float: right;
    width: 50%;
    height: 66.3129973474801vh;
}
.child{
    display: inline-block;
    width:50%
}