@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
#editorContainer{
    height: 83.91608391608392vh;
    width: 73.57859531772576vw;
    border-radius: 20px;
}
#calculator{
    width: 25.08361204013378vw;
    height: 83.91608391608392vh;
    border-radius: 20px;
}
body{
    background-color: black;
}
#mar {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: black;
    font: bolder;
    height: max-content;
    border-radius: 20px;
}
